.git
.github
.devcontainer
.vscode
.idea
*.iml
.DS_Store

/tmp
/tmp/**
tmp/
tmp/**

**/*_test.go

dist

node_modules
e2e-ts/
mcp-helm
coverage.out
*.svg
*.png
pnpm-lock.yaml

*.log
build-errors.log

cloudflare/
